* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  border-bottom: 1px solid black;

  padding-inline: 20px;
  padding-bottom: 20px;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}